$layout-padding: 200px;

.ant-layout-header {
    padding-left: $layout-padding;
    padding-right: $layout-padding;
}
.ant-layout-content {
    padding-left: $layout-padding;
    padding-right: $layout-padding;
}